# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# SQLite database
data.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# dotenv
.env

# Docker
*.pid
